@use './partials/mixins' as *;

.about {
  background-color: rgb(23, 23, 23);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  scroll-snap-align: center;
  color: white;
  @include tablet {
    margin-right: 8vw;
  }

  &__bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      width: 70%;
    }
  }

  &__headshot {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin-bottom: 2rem;
    @include tablet {
      margin-right: 2rem; 
    }
  }

  &__info {
    font-weight: 200;
    line-height: 2rem;  
    text-align: center;
    font-size: 1.2rem;
    @include tablet {
      width: 70%;
      line-height: 3rem;  
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__down {
    display: none;
    @include tablet {
      display: initial;
      bottom: 1rem;
      height: 3.5rem;
      padding: 1rem;
      opacity: 0.2;
      position: absolute;
      bottom: 2rem;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  &__up {
    display: none;
    @include tablet {
      display: initial;
      z-index: 1;
      height: 3.5rem;
      padding: 1rem;
      opacity: 0.2;
      position: absolute;
      top: 2rem;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}