@use './partials/mixins' as *;

.about {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
  justify-content: space-between;
  scroll-snap-align: start;
  @include desktop {
    padding: 2rem;
  }

  &__headshot {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    object-fit: cover;  
  }

  &__info {
    font-weight: 200;
    line-height: 2rem;  
    text-align: center;
    font-size: 1.2rem;
    @include desktop {
      width: 70%;
      font-size: 1.5rem;
      line-height: 3rem;  
    }
  }

  &__down {
    height: 1.5rem;
    opacity: 0.2;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}