@use './partials/mixins' as *;

.about {
  // background-color: rgb(23, 23, 23, 0.3);
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  // scroll-snap-align: center;
  color: black;

  &__bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      width: 70%;
    }
  }

  &__headshot {
    border-radius: 50%;
    height: 15rem;
    min-width: 15rem;
    object-fit: cover;
    margin-bottom: 2rem;
    @include tablet {
      margin-right: 2rem; 
    }
  }

  &__info {
    font-weight: 200;
    line-height: 2rem;  
    text-align: center;
    font-size: 1.2rem;
    @include tablet {
      width: 70%;
      line-height: 3rem;  
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }
}