@use './partials/mixins' as *;

.App {
  overflow: scroll;
  height: 90vh;
  scroll-snap-points-y: repeat(90vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  @include tablet {
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
  }
}

.background {
  background-color: black;
  height: 90vh;
  position: relative;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  @include tablet {
    height: 100vh;
    padding: 2rem;
  }
}