@use './partials/mixins' as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 2rem;
  scroll-snap-align: center;
  width: 100%;
  @include tablet {
    padding: 2rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    @include tablet {
      align-items: center;
    }
  }

  &__link {
    @include desktop {
      &:hover {
        transform: scale(1.1);
      }  
    }
  }

  &__logo {
    height: 2rem;
    filter: grayscale(100%);
    margin-right: 1rem;
  }
}