@use './partials/mixins' as *;

@keyframes heading {
  0% {
    font-size: 60vh;
    opacity: 0;
    padding-bottom: 15rem;
  }
  10% {
    font-size: 45vh;
    opacity: 0;
    padding-bottom: 15rem;
  }
}
@keyframes info {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}

.home {
  background-color: black;
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  scroll-snap-align: center;
  @include desktop {
    padding: 2rem;
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
  }

  &__heading {
    animation: heading 4s;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 100;
    padding-bottom: 3rem;  
    text-align: center;
    @include desktop {
      letter-spacing: 2rem;
      font-size: 10vh;
    }
  }

  &__info {
    animation: info 3s;
    font-weight: 200;
    letter-spacing: 0.5rem;
    text-align: center;
    color: rgb(210, 210, 210);
    @include desktop {
      width: 70%;
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }

  &__down {
    display: none;
    animation: arrow 6s;
    @include desktop {
      display: initial;
      height: 1.5rem;
      position: absolute;
      bottom: 2rem;
      opacity: 0.4;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }  
    }
  }
}