@use './partials/mixins' as *;

@keyframes heading {
  0% {
    font-size: 60vh;
    opacity: 0;
    padding-bottom: 40rem;
  }
  10% {
    font-size: 45vh;
    opacity: 0;
    padding-bottom: 40rem;
  }
}
@keyframes info {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  scroll-snap-align: center;
  @include tablet {
    padding: 2rem;
    overflow: hidden;
    white-space: nowrap;
  }

  &__heading {
    animation: heading 4s;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 100;
    padding-bottom: 3rem;  
    text-align: center;
    @include desktop {
      letter-spacing: 2rem;
      font-size: 3rem;
    }
  }

  &__info {
    animation: info 3s;
    font-weight: 200;
    letter-spacing: 0.5rem;
    text-align: center;
    color: black;
    @include desktop {
      font-size: 1.5rem;
    }
  }
}