@use './partials/mixins' as *;

.nav {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: white;

  &__list {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;
    display: none;

    &--mobile {
      display: initial;
      font-weight: 800;
    }

    @include tablet {
      display: initial;
    }

    &__item {
      list-style: none;
      padding-bottom: 2rem;
      opacity: 1;

      @include tablet {
        opacity: 0.3;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }  
      }
    }
    &__menu {
      text-align: right;
      opacity: 0.3;

      @include tablet {
        display: none;
      }
    }
  }
}