@use './partials/mixins' as *;

.work {
  display: flex;
  flex-direction: column;
  width: 100vw;
  @include tablet {
    margin: 10rem auto;
  }

  &__item {
    width: 75vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    margin-bottom: 6rem;
    padding: 2rem;
    padding-left: 8rem;
    color: white;

    &--right {
      align-self: flex-end;
      padding-left: 2rem;
      padding-right: 8rem;
    }

    &__heading {
      font-size: 5rem;
      font-weight: 100;
      font-style: italic;
      opacity: 0.7;

      &--right {
        text-align: right;
      }
    }

    &__tech {
      font-size: 1.2rem;
      font-weight: 800;
      padding: 1rem;
      letter-spacing: 0.3rem;
      line-height: 2rem;

      &--right {
        text-align: right;
        align-self: flex-end;  
      }
    }

    &__info {
      font-size: 1.2rem;
      font-weight: 200;
      align-self: flex-start;
      padding: 1rem;
      letter-spacing: 0.2rem;
      line-height: 2rem;

      &--right {
        text-align: right;
        align-self: flex-end;
      }
    }

    &__more {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 1.5rem;
      &:hover {
        font-weight: 300;
        cursor: pointer;
      }

      &--right {
        text-align: right;
        align-self: flex-end;
      }
    }

    &__links {
      padding: 1rem;
    }

    &__link {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.8rem;
      letter-spacing: 0.2rem;
      color: white;      
      display: block;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

      &--right {
        text-align: right;
        align-self: flex-end;  
      }
    }
  }
  // overflow-x: scroll;
  // overflow-y: hidden;
  // white-space: nowrap;
  // scroll-snap-type: x mandatory;
  // scroll-snap-points-x: repeat(31rem);
}

.hidden {
  display: none;
}