@use './partials/mixins' as *;

.work {
  display: flex;
  flex-direction: column;
  width: 100vw;

  &__item {
    width: 95vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 12rem;
    padding: 2rem;
    padding: 1rem;
    color: white;
    @include tablet {
      margin-top: 18rem;
      padding: 2rem;
      padding-left: 8rem;
      width: 75vw;
    }

    &--right {
      align-self: flex-end;
      @include tablet {
        padding-left: 2rem;
        padding-right: 8rem;  
      }
    }

    &__heading {
      font-size: 3rem;
      font-weight: 100;
      font-style: italic;
      opacity: 0.7;
      @include tablet {
        font-size: 5rem;
      }

      &--right {
        text-align: right;
      }
    }

    &__tech {
      font-size: 0.8rem;
      font-weight: 800;
      padding: 1rem 0;
      letter-spacing: 0.3rem;
      line-height: 1.3rem;
      @include tablet {
        font-size: 1.2rem;
        line-height: 2rem;
      }

      &--right {
        text-align: right;
        align-self: flex-end;  
      }
    }

    &__info {
      font-size: 0.8rem;
      font-weight: 300;
      align-self: flex-start;
      padding: 1rem 0;
      letter-spacing: 0.1rem;
      line-height: 1.3rem;
      @include tablet {
        font-size: 1.2rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
      }

      &--right {
        text-align: right;
        align-self: flex-end;
      }
    }

    &__more {
      padding: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
      @include tablet {
        padding: 1rem;
        &:hover {
          font-weight: 300;
          cursor: pointer;
        }
      }

      &--right {
        text-align: right;
        align-self: flex-end;
      }
    }

    &__links {
      padding: 1rem 0;
    }

    &__link {
      font-size: 1rem;
      font-weight: 300;
      line-height: 2rem;
      letter-spacing: 0rem;
      color: white;      
      display: block;
      text-decoration: underline;
      @include tablet {
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: 0.1rem;
        &:hover {
          text-decoration: underline;
        }
      }


      &--right {
        text-align: right;
        align-self: flex-end;  
      }
    }
  }
  // overflow-x: scroll;
  // overflow-y: hidden;
  // white-space: nowrap;
  // scroll-snap-type: x mandatory;
  // scroll-snap-points-x: repeat(31rem);
}

.hidden {
  display: none;
}