@use './partials/mixins' as *;

.work {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90vw;
  @include tablet {
    padding: 2rem;
    margin: 10rem auto;
  }

  &__item {
    // height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.7);
    margin-bottom: 8rem;
    padding: 3rem;
    color: white;

    &--right {
      align-self: flex-end;
    }

    &__heading {
      width: 40vw;
      font-size: 5rem;
      font-weight: 100;
      font-style: italic;
      opacity: 0.7;
    }

    &__info {
      width: 90%;
      font-size: 1.2rem;
      font-weight: 200;
      text-align: right;
      align-self: flex-end;
      padding: 1rem;
      letter-spacing: 0.3rem;
    }

    &__more {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 200;
      text-align: right;
      align-self: flex-end;
      line-height: 1.5rem;
      &:hover {
        font-weight: 400;
        cursor: pointer;
      }
    }
  }

  &__heading {
    text-align: center;
    letter-spacing: 1rem;
    font-size: 2rem;
    font-weight: 100;  
    padding-top: 3rem;
    @include desktop {
      font-size: 5rem;
      letter-spacing: 2rem;
    }
  }

  &__display {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // overflow-x: scroll;
    // overflow-y: hidden;
    // white-space: nowrap;
    // scroll-snap-type: x mandatory;
    // scroll-snap-points-x: repeat(31rem);
    @include tablet {
      padding-top: 3rem;
      justify-content: center;
    }
  }

  &__box {
    margin: 0.5rem;
    display: flex;
    @include tablet {
      margin: 2rem;
    }
  }

  &__image {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  &__info {
    @include tablet {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
  
      &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      &__title {
        font-size: 2rem;
        font-weight: 200;
      }
  
      &__text {
        font-weight: 200;
        text-align: center;
  
        &--bold {
          font-weight: 400;
        }
      }
    }
  }  
}

.bio {
  &__heading {
    text-align: left;
    width: 100%;
    letter-spacing: 0.7rem;
    font-size: 2rem;
    font-weight: 100;  
    padding-top: 3rem;
    @include tablet {
      font-size: 5rem;
      letter-spacing: 2rem;
      text-align: center;
    }
  }

  &__close {
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 4.2rem;
    opacity: 0.4;
    @include tablet {
      height: 4rem;
      left: 2rem;
      top: 2rem;
      padding: 1rem;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }  
    }
  }

  &__stack {
    font-size: 0.9rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
    padding-top: 1rem;
    text-align: center;
    @include tablet {
      font-size: 1.2rem;
      padding-top: 2rem;
    }
  }

  &__text {
    font-size: 0.9rem;
    font-weight: 200;
    padding-top: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    @include tablet {
      font-size: 1.2rem;
      width: 80%;
      line-height: 2rem;
      padding-top: 2rem;
    }

    &--link {
      padding: 0;
      text-decoration: none;
      color: white;
      width: fit-content;
      font-weight: 100;
      &:hover {
        font-weight: 200;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    @include tablet {
      padding-top: 2rem;
    }
  }

  &__logo {
    height: 0.9rem;
  }
}

.fittrack {
  background-color: #1F2833;
  background-image: url(../assets/images/fittrack.png);
  background-size: 40vw;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  @include tablet {
    background-size: initial;
    margin: 1rem;
  }
}

.connectmd {
  background-color: white;
  background-image: url(../assets/images/connectmd.png);
  background-size: 15rem;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  @include tablet {
    background-size: initial;
  }
}

.last {
  margin-right: 10%;
  @include tablet {
    margin: 1rem;
  }
}