@use '../../partials/mixins' as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @include desktop {
    padding-bottom: 6rem;
  }

  &__hero {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 100vh;
    padding-bottom: 8rem;
    @include tablet {
      padding-bottom: 0;
    }
  }

  &__heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 4rem;
    padding: 1rem;
    @include tablet {
      font-size: 10rem;
      line-height: 7rem;
      padding: 2rem;  
    }
    @include desktop {
      font-size: 12rem;
      line-height: 10rem;
      padding-left: 10rem;  
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    @include desktop {
      width: 50vw;  
    }
  }

  &__input {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    padding: 0.5rem 0.5rem 1rem;
    margin-bottom: 1rem;
    &:focus {
      outline: none;
    }

    &--textarea {
      resize: none;
      height: 10rem;
    }
  }

  &__button {
    background-color: rgb(3, 3, 3, 0);
    border: 1px solid white;
    padding: 1rem;
    letter-spacing: 1rem;
    margin-top: 1rem;
    &:focus {
      background-color: white;
      color: black;
      font-weight: bold;
    }
    @include desktop {
      &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
        font-weight: bold;
      }  
    }
  }
}