@use '../../partials/mixins' as *;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  @include desktop {
    padding-left: 10rem;
  }

  &__logo {
    @include desktop {
      width: 60vw;
    }
  }
}