@use '../../partials/mixins' as *;

@keyframes heading {
  0% {
    left: -10rem;
  }
  100% {
    left: 0rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  padding-bottom: 8rem;
  @include tablet {
    padding: 2rem 2rem 8rem;
  }
  @include desktop {
    padding: 2rem;
    padding-left: 10rem;
  }

  &__logo {
    animation: slideInLeft 2s;
    @include desktop {
      width: 60vw;
    }
  }
}