@use './variables' as *;

// Breakpoints
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
      @content;
  } 
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
      @content;
  }
}

// Styling
@mixin arrow {
  height: 2rem;
  position: absolute;
  bottom: 8rem;
  left: 50vw;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 2s;
  
  @include tablet {
    height: 2.5rem;
    bottom: 6rem;
  }
  @include desktop {
    bottom: 2rem;
  }
}