@use '../../partials/mixins' as *;

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @include desktop {
    padding-bottom: 6rem;
  }

  &__hero {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 100vh;
  }

  &__heading {
    font-size: 6rem;
    font-weight: 800;
    line-height: 5rem;
    padding: 1rem;
    @include tablet {
      font-size: 10rem;
      line-height: 8rem;
      padding: 2rem;  
    }
    @include desktop {
      font-size: 12rem;
      line-height: 10rem;
      padding-left: 10rem;  
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  @include desktop {
    width: 80vw;
  }

  &__project {
    margin: 1rem;
    @include tablet {
      width: 45%;
    }
    @include desktop {
      width: 30vw;
      height: 30vw;
      margin: 1rem;  
    }
  
    &--long {
      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 62vw;
      }
    }
  
    &__image {
      width: 100%;
      height: 100%;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @include desktop {
    padding-bottom: 6rem;
  }

  &__hero {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 100vh;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
    padding: 1rem;
    @include tablet {
      font-size: 8rem;
      line-height: 8rem;
      padding: 2rem;  
    }
    @include desktop {
      font-size: 12rem;
      line-height: 10rem;
      padding-left: 10rem;  
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      width: 70vw;
      justify-content: space-between;
    }
  }

  &__bio {
    padding: 1rem;
    @include tablet {
      padding: 2rem;
    }
    @include desktop {
      margin-left: 2rem;
    }
  }

  &__text {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1.2rem;
    padding: 1rem 0;
    @include tablet {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    @include desktop {
      font-size: 1.8rem;
      line-height: 3rem;
      text-align: justify;
      width: 70vw;
      padding-top: 4rem;  
    }  
  }

  &__link {
    font-weight: 500;
    @include tablet {
      font-size: 1.2rem;
    }
    @include desktop {
      text-decoration: none;
      font-size: 1.5rem;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }  
    }
  }
}

.carousel {
  width: 20rem;
  box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.2);

  &__image {
    width: 100%;
  }
}