@use '../../partials/mixins' as *;

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @include desktop {
    padding-bottom: 6rem;
  }

  &__hero {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 100vh;
    padding-bottom: 8rem;
    @include tablet {
      padding-bottom: 0;
    }
  }

  &__heading {
    font-size: 6rem;
    font-weight: 800;
    line-height: 5rem;
    padding: 1rem;
    @include tablet {
      font-size: 10rem;
      line-height: 8rem;
      padding: 2rem;  
    }
    @include desktop {
      font-size: 12rem;
      line-height: 10rem;
      padding-left: 10rem;  
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    width: 70vw;
  }

  &__project {
    margin: 1rem;
    @include tablet {
      margin: 1%;
      width: 48%;
    }
  
    &--long {
      @include tablet {
        width: 100%;
      }
    }
  
    &__image {
      width: 100%;
      height: 100%;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @include desktop {
    padding-bottom: 6rem;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    padding-bottom: 8rem;
    @include tablet {
      padding: 2rem;  
    }
    @include desktop {
      padding-left: 10rem;  
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
    @include tablet {
      font-size: 8rem;
      line-height: 8rem;
    }
    @include desktop {
      font-size: 12rem;
      line-height: 10rem;
    }
  }

  &__tech {
    letter-spacing: 0.1rem;
    opacity: 0.4;
    padding-left: 0.2rem;
    @include tablet {
      font-size: 1.5rem;
      padding-left: 0.5rem;
    }
  }

  &__bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    @include desktop {
      width: 70vw;
    }
  }

  &__text {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.2rem;
    padding: 1rem 0;
    @include tablet {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    @include desktop {
      font-size: 1.8rem;
      line-height: 3rem;
      text-align: justify;
      font-weight: 300;
    }  
  }

  &__images {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
      width: 100%;
      padding: 2rem 0;  
    }

    &__each {
      width: 32%;
    }
  }

  &__cta {
    padding-top: 1rem;
    @include tablet {
      padding-top: 2rem;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 0.9rem;
    opacity: 0.5;
    @include tablet {
      font-size: 1.2rem;
    }
    @include desktop {
      text-decoration: none;
      font-size: 1.5rem;
      &:hover {
        opacity: 1;
      }  
    }
  }
}

.carousel {
  width: 90vw;
  @include tablet {
    width: 20rem;
  }

  &__image {
    width: 100%;
  }
}