@use './partials/resets' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

@keyframes navbar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.background {
  background-image: url(./assets/images/home2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 120vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  @include desktop {
    background-size: 120% auto;
  }
}

.nav {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  right: 0;
  width: 100vw;
  padding: 0.5rem 0;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0,0,0,0));
  z-index: 10;
  animation-name: navbar;
  animation-duration: 4s;
  @include desktop {
    right: 1rem;
  }

  &__link {
    text-decoration: none;
    text-align: right;
    padding: 1rem;
    opacity: 0.7;
    width: fit-content;
    @include tablet {
      margin-left: 1rem;
      &:hover {
        opacity: 1;
      }
    }

    &--home {
      font-weight: 800;
      line-height: 0.8rem;
      text-align: left;
      margin-right: auto;
      text-decoration: none;
      padding: 1rem;
      opacity: 0.7;
      left: 0;
      position: fixed;
      @include tablet {
        left: 1rem;
        top: 1rem;
        position: fixed;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__menu {
    height: 2rem;
    opacity: 0.4;
  }
}

@include tablet {
  .nav__link {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .nav__link:before, .nav__link:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  .nav__link:before {
    left: -2.5px;
  }
  .nav__link:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .nav__link:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .nav__link:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  .active:before {
    background: #fff;
    width: 100%;
    opacity: 1;  
  }
}

.active {
  opacity: 1;
  font-weight: 800;
  @include tablet {
    font-weight: 400;
  }
}


.hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;

  &__icon {
    opacity: 0.7;
    margin: 8rem 2rem;
    height: 2rem;
    @include tablet {
      height: 3rem;
    }
    @include desktop {
      margin: 4rem 2rem 8rem;
      opacity: 0.4;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}