@use './partials/resets' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.App {
  background-image: url(./assets/images/home.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  background-attachment: fixed;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: flex-end;
  padding: 1rem;

  &__link {
    text-decoration: none;
    text-align: right;
    padding: 1rem;
    opacity: 0.7;
    width: fit-content;
    &:hover {
      opacity: 1;
    }

    &--home {
      position: fixed;
      left: 2rem;
      top: 1rem;
    }
  }
}