@use './partials/resets' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.App {
  min-height: 100vh;
  max-width: 100vw;
}

.background {
  background-image: url(./assets/images/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  right: 0;

  &__link {
    text-decoration: none;
    text-align: right;
    padding: 1rem;
    opacity: 0.7;
    width: fit-content;
    &:hover {
      opacity: 1;
      font-weight: 800;
    }

    &--home {
      position: fixed;
      left: 2rem;
      top: 1rem;
      font-size: 2rem;
      &:hover {
        font-weight: 400;
      }
    }
  }
}

.active {
  opacity: 1;
  font-weight: 800;
}

.hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;

  &__icon {
    opacity: 0.4;
    margin: 2rem 2rem 8rem;
    height: 2rem;
    @include tablet {
      height: 3rem;
      margin: 4rem 2rem 8rem;

    }
    @include desktop {
      margin: 4rem 2rem;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}